body{
    background: #00000046 url(images/image.jpg);
    background-size: cover;

   
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
    height: 200px;
    margin-top: 40px;
}

@media(max-width:770px){
    .container{
        margin: 0 10%;
    }
}